body{
    background-color: #BFDCE5;
    margin: 0;
}

hr{
    border-style: dotted none none;
    border-width: 5px;
    background-color: #BFDCE5;
    border-color: #3E54AC;
    width: 10%;
}

h1{
    color: #3E54AC;
    margin-top: 0;
}

h3{
    color: #567189;
}

.circular{
    border-radius: 100%;
}
.top-container{
    background-color: #DEFCF9;
    border: solid 5px;
    padding: 10%;
    background-image: url("assets/blue-polygonal-background-fade-4.png");
    background-color: transparent;
}
.middle-container{
    background-color: #3C84AB;
    padding: 20%;
}

.bottom-container{
    background-color: #85CDFD;
    padding: 20%;
    margin-bottom: 2px;

}