html {
    height: 100%;
}

body{
    background-color: #d4cfcf;
    margin: 0;
    height: 100%;
    padding: 0%;
    font-family: sans-serif;
}

h1{
    color: #000000;
    text-align: center;
}

h3{
    text-align: center;
}

h2{
    color: #000000;
    line-height: 8px;
}

p{
    text-align: center;
}

dd{
    font-size: 14px;
}

.circular{
    border-radius: 100%;
}

.top-container {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/blue-polygonal-background-fade-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrkexp-container{
    position: relative;
    background-color: #948e8e;
    padding: 5%;
    height: 95%;
}

.wrkexp-container h1{
    text-align: left;
}

.wrkexp-container h2 {
    color: #000000;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
    
}

.wrkexp-container dt{
    font-size: 13px;
}

.wrkexp-container img{
    position:absolute;
    top: 2%;
    right:2%;

}

.third-container{
    background-color: #746b6b;
    padding: 20%;
    margin-bottom: 2px;
    height: 30%;
}

.bottom-container{
    background-color: #d4cfcf;
    padding: 20%;
    margin-bottom: 2px;
    height: 30%;
}

.Ribbon{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7%;
}

.Ribbon p {
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
}

.Ribbon p:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    border-radius: 15%;
}

.Ribbon a {
    color: #fff;
    text-decoration: none;
}
